<h1>All Posts</h1>

<ul class="all-posts">
  <% @posts.each do |post| %>
    <li>
      <h4 class="<%= post.flag ? "flagged" : "" %>"><%= post.title %></h4>
      <h6>by <%= post.name %></h6>
      <p>
        <%= post.content %>
      </p>
      <p>
        <%= link_to "View post", post %> | 
        <%= link_to 'Edit post', edit_post_path(post) %> | 
        <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      </p>
    </li>   
  <% end %>
</ul>


<%= link_to 'New Post', new_post_path, :class => "btn" %>
